body {
    margin: 0;
    background-color: #19A3FF;
}

/** sample header styling **/
.title {    
    text-align: center;
    text-shadow: 3px 2px #BAE3FF;
    font-family: 'Racing Sans One';
    font-size: 80px;
    background-color: white;
    min-width: 500px;
    margin-top: 0px;
}
.cr {
    position: relative;
    top: -33px;
    left: 3px;
    font-size: 30px;
}
.rainbow {
    margin-top: -10px;
    height: 14px;
    background: linear-gradient(red,orange,yellow,green,blue);
}

/** navigation bar **/
.nav-bar {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
    background-color: white;
    outline: black solid thin;
}
.nav-list {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px; 
    margin-bottom: 0px;
    list-style-type: none;
    padding: 0px;
}
.nav-item {
    display: inline;
    float: left;
}
a.nav-link:link, a.nav-link:visited {
    font-family: 'Racing Sans One';
    font-size: 22px;    
    display: block;
    width: 100px;
    color: black;
    text-align: center;
    text-decoration: none;
}
a.nav-link:hover, a.nav-link:active {
    background-color: #CCCCCC;
}

/* this breaks the float after the navbar */
.break {
    clear: both;
}

/** thumbnail gallery **/
.gallery {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 790px;
    height: auto;
}
.thumb {
    width: 240px;
    height: 220px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    padding: 1px;
    float: left;
    background: white;
    outline: rgb(0, 0, 0) solid thin;
}
.thumb-title {
    text-align: center;
    font-family: 'Racing Sans One';
    font-size: 20px;        
}
.img-frame {
    margin: 2px;
    width: auto;
    height: 165px;
}
.image {
    display: block;
    height: 165px;
    width: auto;
    max-width: 236px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}
.thumb-bar {
    padding: 0;
    width: 240px;
    background-color: red;
    vertical-align: bottom;
}
.thumb-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.thumb-item {
    display: inline;
    float: left;
}
a.thumb-link:link, a.thumb-link:visited {
    font-family: 'Racing Sans One';
    font-size: 16px;    
    display: block;
    width: 80px;
    color: black;
    background-color: white;
    text-align: center;
    text-decoration: none;
}

a.thumb-link:hover, a.thumb-link:active {
    background-color: rgb(220, 220, 220);
}

.gallery-bottom {
    height: 1px;
    clear: both;
}

.bottom {
    height: 20px;
}

/** game page styling **/
.game-title {
    text-align: center;
    font-family: 'Racing Sans One';
    font-size: 40px;
    background-color: white;
    min-width: 500px;
    margin-top: 0px;
    padding-left: 20px;
}
.game-subtitle {
    font-size: 18px;
    padding-left: 20px;
}
.game-sdk-link {
    text-decoration: none;
    color: black;
}
.game-rainbow {
    margin-top: 0px;
    height: 10px;
    background: linear-gradient(red,orange,yellow,green,blue);
}
.game-border {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* the emscripten canvas must not have any border or padding, or mouse coords will be wrong */
.game {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    border: 0px none;
    display: block;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}
.game:-webkit-full-screen {
    width: 100%;
    height: 100%;
}
.game-output {
    background-color: #BAE3FF;
    font-family: courier;
    font-size: 12px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    border: 0px none;
}

/* styling for the about page */
.about-textbox {
    text-align: center;
    font-family: 'courier';
    font-size: 20px;    
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 700px;
    height: auto;
    background-color: white;
    outline: black solid thin;
}
a.about-link:link, a.about-link:visited {
    color: #19A3FF;
    text-decoration: none;
}

a.about-link:hover, a.about-link:active {
    color: #0C5280;
}

